networks:
  web:
    name: web
  intercom:
    name: intercom

volumes:
  order_pg_vol:

services:
  traefik:
    image: "traefik:v3.5.2"
    container_name: traefik
    command:
      - "--api.insecure=true"  
      - "--providers.docker=true" 
      - "--providers.docker.exposedbydefault=false" 
      - "--entrypoints.web.address=:80" 
    ports:
      - "80:80"     
      - "8080:8080" 
    networks:
      - web
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro 


  orderservice:
    container_name: orderservice
    build: .
    command: [ "/app/ordersystem" ]
    labels:
      - "traefik.enable=true" 
      - "traefik.http.routers.orderservice.rule=Host(`orders.localhost`)"
      - "traefik.http.services.orderservice.loadbalancer.server.port=3000" 
      - "traefik.docker.network=web"
      - "traefik.http.routers.orderservice.entrypoints=web"
    environment:
      - POSTGRES_DB=order
      - POSTGRES_USER=docker
      - POSTGRES_PASSWORD=docker
      - POSTGRES_TCP_PORT=5432
      - DB_HOST=order-postgres
    networks:
      - intercom
      - web

  sws:
    image: joseluisq/static-web-server:latest
    container_name: sws
    volumes:
      - ./frontend:/public
    environment:
      - SERVER_ROOT=/public
      - SERVER_PORT=80
    labels:
      - "traefik.enable=true" 
      - "traefik.docker.network=web"
      - "traefik.http.routers.sws.rule=Host(`localhost`)" 
      - "traefik.http.services.sws.loadbalancer.server.port=80" 
      - "traefik.http.routers.sws.entrypoints=web"
    networks:
      - web

  order-postgres:
    image: postgres:latest
    restart: always
    networks:
      - intercom
    volumes:
      - order_pg_vol:/var/lib/postgresql/18/docker
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=order
      - POSTGRES_USER=docker
      - POSTGRES_PASSWORD=docker
      - POSTGRES_TCP_PORT=5432